<div class="container-fluid">
  <div class="main-background">
    <app-footer [situation]=this.situation></app-footer>
    <sidebar></sidebar>
    <div class="content-container">
      <app-navbar></app-navbar>

      <div class="body-default">
        <app-progressbar></app-progressbar>
        <div class="body-content my-5" [ngStyle]="{'height' : this.varHeigth}">
          <div class=" row">
            <div class="col">
              <h3>Informe o CPF do futuro cooperado(a)</h3>
              <h6 style="color: grey; size:11px; font-family: 
          Open Sans;">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar
                esse
                cadastro futuramente
                <br> Digite apenas os números(sem pontos ou traços)
              </h6>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-3">
              <label>CPF</label>
              <input type="text" class="form-control" mask="000.000.000-99" [(ngModel)]="this.cpf">
            </div>
            <div class="col py-4">
              <button class="btn btn-primary button-standart" (click)="this.situation=verifyCPF()">Consultar por
                CPF</button>
            </div>
          </div>
          <app-account-found [data]="this.value" *ngIf="this.situation==true"></app-account-found>
          <app-account-not-found [error]="this.error" *ngIf="this.situation==false"></app-account-not-found>
        </div>
      </div>
    </div>
  </div>
</div>